
        /* Text colors */
:root {
    --main-1-color: black;
    --main-2-color: #2196F3;
    --main-3-color: #FFFFFF;
    --main-4-color: #757575;
    --main-5-color: #2F303A;
    --main-6-color: #F5F4FA;
    --main-7-color: rgba(255, 255, 255, 0.4);
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;  /*Убирает подчеткивание в ссылок*/
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 15px;
    padding-left: 15px; 
    margin: 0px auto 0px auto;   
}

.nav-list .link:hover,
.nav-list .link:focus {
    padding-bottom: 28px;
    border-bottom: 2px solid var(--main-2-color);
}
.link:hover,
.link:focus {
    color: var(--main-2-color);
}

header .container,
footer .container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.title {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */


        /* Header */
.border {
    border-bottom: 1px solid #ECECEC;
}
.header-content {
    display: flex;
    align-items: center;    
}
.header-logo {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 85px;
}
header .container {
    height: 81px;
}
header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-1-color);
}

.web {
    color: var(--main-2-color);
}

.nav-list,
.contacts-list,
.features-list,
.team-list,
.clients-list {
    display: flex;
}
.contacts-list {
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}


.nav-item,
.contacts-item {
    padding-top: 32px;
    padding-bottom: 32px;    
}

.nav-item a {
    color: var(--main-1-color);
}

.contacts-list {
    margin-left: auto;
}
.contacts-item:not(:last-child) {
    margin-right: 30px;    
}

.contacts-item a {
    color: var(--main-4-color);
}
        /* Header end*/


        /* Шапка сайта */
.hero {
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
     url("../images/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
}
.hero .container {
    padding: 0;
  }

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: var(--main-3-color);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.hero button {
    background-color: var(--main-2-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;     
}

.hero .button {
    padding: 10px 32px;
    color: var(--main-3-color);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border: 0px;
    /* min-width: 200px; */
}

.hero .button:hover,
.hero .button:focus {
    background-color: blue;
}
            /* Шапка сайта */

            /* Features container start */
.features .container {
    padding-bottom: 0;
}
.features-title {
    display: none;
}

.features-item:not(:last-child),
.team-item:not(:last-child),
.clients-item:not(:last-child) {
    margin-right: 30px;
}

.item-image {
    padding: 25px 100px 25px 100px;
    margin: 0px 0px 30px 0px;
    background-color: var(--main-6-color);
}

.features-item-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.item-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-4-color);
}
            /* Features container end */

            /* Tech skills container start */
.tech-skills {
    text-align: center;
    /* min-width: 386px; */
}
.tech-skills-list {
    display: flex;
}
.tech-skills-item:not(:last-child){
    margin-right: 30px;
}
            /* Tech skills container end */


            /* Our team container start */
.our-team {
    text-align: center;
    background-color: var(--main-6-color);
    /* min-width: 1600px;
    height: 702px; */
}

.team-list {
    /* padding-bottom: 94px; */
    height: 422px;
}
.team-item {
    align-items: center;
    background-color: var(--main-3-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-item-title {
    margin-top: 30px;
}

.team-item-description {
    margin-top: 10px;
    margin-bottom: 16px;
}
.social-icon-container {
    /* margin-bottom: 24px; */
    padding-left: 32px;
    padding-right: 32px;
}
.social-icon-f {
    display: flex;
}
.page-footer .social-icon-f {
    padding-top: 20px;
}
.s-i-f {
    background-color: rgba(255, 255, 255, 0.1);
}
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0px;   
    border-radius: 50%;
    border: 0px;
    fill: var(--main-3-color);
}
.social-icon {
    /* width: 20px;
    height: 20px; */
    fill: #afb1b8;
}
.social-item a:hover .social-logo,
.social-item a:focus .social-logo {
  fill: var(--main-3-color);
}

.social-icon:not(:last-child) {
    margin-right: 10px;
}
.social-icon:hover,
.social-icon:focus {    
    padding: 12px;    
    background-color: var(--main-2-color);
    border-radius: 50%;
}
            /* Our team container end */



            /* Clients start*/
.clients {
    text-align: center;
}
            /* Clients end */


            /* Footer container */
.page-footer {
    background-color: var(--main-5-color);  
    /* height: 253px; */
}

.logo.inverse,
.inverse {
    color: var(--main-3-color);
}

.footer-content {
    padding-top: 60px;
    display: flex;
    align-items: baseline;
    padding-bottom: 60px;
    /* justify-content: space-between; */
}

.adress {
    margin-top: 20px;
    font-style: normal;
}
.adress-item:not(:last-child) {
    margin-bottom: 9px;
}
.adress-item {
    font-size: 14px;
    letter-spacing: 0.03em;
}
.adress-item a {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts {
    padding-right: 69px;
}
.join-social-network {    
    padding-right: 94px;
}
            /* Our team container end */

            /* Portfolio start */

.our-project h1 {
    display: none;
}
.filter-list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;    
}

/* .filter-item {
    min-width: 73px;
} */

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.our-project .button {
    margin: 0;
    padding: 6px 22px;
    letter-spacing: 0.03em;
    line-height: 1.62;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0;
}

.our-project .button:hover,
.our-project .button:focus {
    background-color: var(--main-2-color);
    color: var(--main-3-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 30px * 2 ) / 3);
    margin-right: 30px;
    
}
.card-image {
    display: block;
}
.card-contents {
    border: 1px solid #EEEEEE;
    background-color: var(--main-3-color);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
}
.portfolio-item:nth-child(3n) {
    margin-right: 0;
}
.portfolio-item:nth-child(n + 4) {
    margin-top: 30px;
}

.portfolio-titles {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--main-1-color);
    margin-top: 20px;
    margin-bottom: 4px;
}
.portfolio-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-4-color);
    margin-bottom: 20px;
}
            /* Portfolio end */